@import "_header";
@import "_null";
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
* {
    outline: none !important;
}
body {
    font-size: 18px;
    &.lock {
        overflow: auto;
        @media (max-width: $md2+px) {
            overflow: auto;
        }
    }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
    // оболочка нужна что бы если какие косяки то они не вылезали за эти приделы
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
    transition: 1s;
    position: relative;
    max-width: $mw + px;
    margin: 0 auto;
    width: 100%;
   

    @media (max-width: $md1+px) {
        max-width: 970px;
    }
    @media (max-width: $md2+px) {
        max-width: 750px;
    }
    @media (max-width: $md3+px) {
        max-width: none;
        padding: 15px;
    }
}
.s {
    background-image: url("../img/block1-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    max-width: 1330px;
    margin: 80  px auto;
    padding: 50px 0px;

.title {
    margin: 0px 0px 20px 0px;
    font-size: 30px;
}

/* Картинки в тексте */
.text {
    margin: 0px 0px 80px 0px;
}
/* Контейнер картинки */
.text__image {
    margin: 0px 0px 20px 0px;
    text-align: center;
}
/* Картинка */
.text__image img {
    max-width: 100%;
}
.text__value {
}
.text__value p {
    margin: 0px 0px 20px 0px;
}

/* Картинки в карточке */
.cards {
    margin: 0px 0 70px 0;
}
.cards__row {
    margin: 0px -15px 70px -15px;
    display: flex;
}
.cards__column {
    flex: 0 1 33.333%;
    padding: 0px 15px;
}
.cards__item {
}

/* Контейнер картинки */
.cards__image {
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 58% 0px;
    overflow: hidden;
    position: relative;
}
/* Картинка */
.cards__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.cards__body {
}

/* Картинки в карточке №2 */
.items {
}
.items__item {
    display: flex;
    margin: 0px 0px 30px 0px;
}
/* Контейнер картинки */
.items__image {
    flex: 0 0 33.333%;
    position: relative;
    min-height: 150px;
}
/* Картинка */
.items__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.items__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px;
}
.items__label {
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin: 0px 0px 20px 0px;
}
.items__text {
}
}



.block {}
.block__item {
    margin-bottom: 50px;
}
.block__titile {

}